<!DOCTYPE html>
<html>
    <head>
        <title>My Father info</title>
    </head>
    <body>
        <h1>Relation : Father</h1>
        <h2>Name : {{name}}</h2>
        <h3>Age : {{age}}</h3>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "C:/Users/Shree/Downloads/PRO-C116-Project-Boilerplate-main/PRO-C116-Project-Boilerplate-main/family tree/static/father.jpg"  width = "200"/>
    </body>
</html>